# Environment variables for SenseNet Explorer React
# Make a copy of this file and rename it to .env

REACT_APP_CLIENT_ID=your-client-id-here
REACT_APP_REPOSITORY_URL=https://your-repo-url
REACT_APP_AUTH_URL=https://your-auth-url
